@font-face{
  src: url(../fonts/montserrat/Montserrat-Bold.otf);
  font-family: 'm-bold';
}
@font-face{
  src: url(../fonts/montserrat/Montserrat-Light.otf);
  font-family: 'm-light';
}
@font-face{
  src: url(../fonts/montserrat/Montserrat-Regular.otf);
  font-family: 'm-regular';
}
.m-bold{font-family: 'm-bold'!important;}
.m-light{font-family: 'm-light'!important;}
.m-regular{font-family: 'm-regular'!important;}
body{
  width: 100%;
  overflow-x: hidden;
}
.brand-logo{
  margin-left: 20px;
  text-transform: capitalize;
}
nav#nav-muncul{
  position: fixed;
  top: 0px;
  transition: transform .3s;
  transform: translateY(-110%);
  opacity: 0;
  z-index: 9999;
}
.banner{
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #f0f0f0;
  overflow: hidden;
}
.banner .partikel{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}
.banner .partikel:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.btn.btn-ajib-default{
  box-shadow: none;
  text-transform: capitalize;
  background-color: #fff;
  color: #444;
  border: thin solid #ddd;
  height: auto;
  padding: 7px 21px;
  border-radius: 6px;
}
.inisaya{
  margin-top: -250px;
}
.inisaya .col{
  padding: 50px 0px;
}
.r-pendidikan{
  position: relative;
}
.r-pendidikan:not(.no-margin) .col.s12.m6:nth-child(even){
  margin-top: 50px;
}
.r-pendidikan:not(.no-garis):before{
  content: "";
  position: absolute;
  width: 5px;
  top: 0px;
  bottom: 0px;
  background-color: #2ecc71;
  margin-left: calc(50% - 5px);
}
.r-pendidikan .col.s12.m6 .pendidikan{
  border: thin solid #ddd;
  border-top: 4px solid #2ecc71;
  padding: 10px;
  background-color: #fff;
  margin-top: 50px;
}
.r-pendidikan .col.s12.m6 .pendidikan p{
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: #444;
}
.r-pendidikan .col.s12.m6 .pendidikan .tahun{
  font-size: 20px;
}
.thumbnail-img{
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
}
.progresnya{
  margin: 5px 0px;
}
.progresnya .judul{
  font-size: 20px;
}
.progresnya .progres{
  width: 100%;
  height: 10px;
  background-color: #cdf5e4;
  margin-top: 10px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.progresnya .progres .isi{
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #07cb79;
}
.contact .container.contact-detil{
  padding: 50px;
  width: 85%
}
@media screen and (max-width: 1008px){
  .side-nav li:first-child{
    margin-top: 70px;
  }
}
@media screen and (max-width: 600px){
  .r-pendidikan:not(.no-garis):before{
    display: none;
  }
  .contact .container.contact-detil{
    margin-top: 50px;
    width: 90%!important;
    padding: 30px 20px;
  }
}
@media screen and (max-width: 480px){
  .brand-logo{
    font-size: 20px!important;
  }
  nav#nav-muncul{
    display: none;
  }
  .r-pendidikan:not(.no-margin) .col.s12.m6:nth-child(2){
    margin-top: 0px;
  }
  .footer-copyright span.right{
    float: none!important;
  }
}
@media screen and (max-width: 320px){
  .brand-logo{
    font-size: 15px!important;
  }
}